.venv
.flaskenv
.vs
.ipynb_checkpoints
*.pyc
app.db
quickstart/credentials.json
quickstart/token.json
quickstart/tests/
file_store/
distilbert/
__pycache__
app/__pycache__
models/
app.log
