{% extends "base.html" %}

{% block content %}

	<h2 align="center"> Fast-catchup </h2>


    <center>
	<audio class="player" style="width: 80%" controls>
  			<source src="{{ url_for('returnAudioFile', filepath=gptout.filepath) }}" type="audio/wav">
  			Your browser does not support the audio element.
	</audio>
    </center>

    <div class="lyrics" style="display: none">
            {{ gptout.word_boundaries }}
    </div>

    <div class="input-group">
      <h4 >
        Summary:
      </h4> <br>

      <div class="summary">
        {{ gptout.p_tags |safe}}

      </div>

    </div>

    <form action = "/generate_summary" id="summary_form" method = "post">
        <input type="checkbox" id="session_check" name="session-checkbox" value="Session-Cached" class="form-check-input">
        <label for="session-checkbox" class="form-check-label"> Get last session summary </label> <br>
        <br>
        <input type="submit" value="Generate" class="btn btn-primary btn-lg btn-block" style="width: 100%" >
    </form>

    <script src="{{url_for('.static', filename='summaryscript.js')}}"></script>

{% endblock %}
