{% extends "base.html" %}

{% block content %}

	<h2> Gmail Message Links </h2>

    <p> Message links: </p>
    {% for message_obj, link_obj in glinks %}
        Id: {{ link_obj.id }} <br>
        GmID: {{ link_obj.gmail_message_id }} <br>
        Link: {{ link_obj.link }} <br>
        Domain {{ link_obj.domain }} <br>

        Date: {{ message_obj.date }}  <br>
        From: {{ message_obj.from_string }}  <br>
        Email: {{ message_obj.gmail_user_email }}  <br>
        Mime Version: {{ message_obj.mime_version }}  <br>
        Content Type: {{ message_obj.content_type }}  <br>
        Subject: {{ message_obj.subject }}  <br>


        <br>
        <hr>
    {% endfor %}

{% endblock %}
