<!doctype html>
<html>
	<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='mystyle.css')}}">
        <title>Fast-catchup</title>
	</head>
	<body>
		<h2> Slack Message Links </h2>

        <p> Message links: </p>
        <!-- SlackMessage, SlackAttachment, SlackUser, SlackChannel -->
        {% for message_obj, link_obj, user_obj, channel_obj in slinks %}
            Id: {{ link_obj.id }} <br>
            Sm-ts: {{ link_obj.slack_message_ts }} <br>
            Link URL: {{ link_obj.url }} <br>

            {% if link_obj.has_text %}
                Link text: {{ link_obj.text }} <br>
            {% endif %}

            Domain: {{link_obj.domain}} <br>

            {% if link_obj.content %}
                Content: {{link_obj.content}} <br>
            {% endif %}



            Date: {{ message_obj.ts }}  <br>
            Text: {{ message_obj.text }} <br>

            From: {{ user_obj.name }} <br>
            Real name: {{ user_obj.real_name }} <br>

            {% if channel_obj.is_channel %}
                In Channel: {{ channel_obj.name }} <br>
            {% elif channel_obj.is_group %}
                In Group with id: {{ channel_obj.id }} <br>
            {% else %}
                In dm with user: {{ user_obj.real_name }}
            {% endif %}


            <br>
            <hr>
        {% endfor %}

	</body>
</html>
