<!doctype html>
<html>
	<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='mystyle.css')}}">
        <title>Fast-catchup</title>
	</head>
	<body>
		<h2> Slack Message Files </h2>

        <p> Message files: </p>
        <!-- SlackMessage, SlackAttachment, SlackUser, SlackChannel -->
        {% for message_obj, file_obj, user_obj, channel_obj in sfiles %}
            Md5: {{ file_obj.md5 }} <br>
            Sm-ts: {{ file_obj.slack_message_ts }} <br>
            Id: {{ file_obj.id }} <br>
            FileSize: {{ file_obj.size }} <br>
            Filename: {{file_obj.filename}} <br>
            MimeType: {{file_obj.mimetype}} <br>
            File Extension: {{file_obj.pretty_type}} <br>
            Filepath: {{ file_obj.filepath }} <br>
            <a href={{file_obj.url_private}}> </a><br>

            Date: {{ message_obj.ts }}  <br>
            Text: {{ message_obj.text }} <br>

            From: {{ user_obj.name }} <br>
            Real name: {{ user_obj.real_name }} <br>

            {% if title %}
            <title>{{ title }} - Microblog</title>
            {% else %}
            <title>Welcome to Microblog!</title>
            {% endif %}

            {% if channel_obj.is_channel %}
                In Channel: {{ channel_obj.name }} <br>
            {% elif channel_obj.is_group %}
                In Group with id: {{ channel_obj.id }} <br>
            {% else %}
                In dm with user: {{ user_obj.real_name }}
            {% endif %}


            <br>
            <hr>
        {% endfor %}

	</body>
</html>
