 {% extends "base.html" %}

 {% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-2">
             <p> </p>
         </div>
         <div class="col-md-8">
             <h1>Upload Gmail Authentication</h1>
             <form action="" method="post" enctype="multipart/form-data">
                 {{ form.hidden_tag() }}
                 <p>
                     {{ form.file.label }}<br>
                     {{ form.file }}
                 </p>

                 <p>{{ form.submit() }}</p>
             </form>
         </div>
         <div class="col-md-2">
             <p>  </p>
         </div>
     </div>
 </div>
 {% endblock %}
